# Driver related
vd55g1.*
*.cmd
Module.symvers
built-in.a
modules.order
*.dtb
*.dtbo

# Debian package build output
# Ignore
debian/debhelper-build-stamp
debian/files
debian/.debhelper/
debian/vd55g1-dkms*
debianizer/
# Allow
!debian/vd55g1-dkms.dkms
